In [2]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest
import pandas as pd

In [3]:
df = pd.read_csv('data/Preprocessed_thyroid_data.csv')

In [4]:
non_numeric_cols = df.select_dtypes(exclude='number').columns

In [5]:
non_numeric_cols

Index(['sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured',
       'T3_measured', 'TT4_measured', 'T4U_measured', 'FTI_measured',
       'TBG_measured', 'referral_source', 'classes'],
      dtype='object')

In [6]:
ordinal_encode_col = ['sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured',
       'T3_measured', 'TT4_measured', 'T4U_measured', 'FTI_measured',
       'TBG_measured', 'referral_source']
label_encoded_col = ['classes']

In [7]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
ordinal_encode = OrdinalEncoder()
label_encode = LabelEncoder()

In [8]:
# Fit and transform the non-numeric columns
df[ordinal_encode_col] = ordinal_encode.fit_transform(df[ordinal_encode_col])

In [9]:
df['classes'] = label_encode.fit_transform(df['classes'])

In [10]:
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,referral_source,classes
0,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.50,1.0,125,1.0,1.14,1.0,109,0.0,1.0,1
1,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.00,1.0,102,0.0,1.00,0.0,110,0.0,4.0,1
2,46,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.02,1.0,109,1.0,0.91,1.0,120,0.0,4.0,1
3,70,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.90,1.0,175,0.0,1.00,0.0,110,0.0,4.0,1
4,70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.20,1.0,61,1.0,0.87,1.0,70,0.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.70,1.0,167,1.0,1.21,1.0,137,0.0,4.0,1
2662,70,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.02,1.0,155,1.0,1.05,1.0,148,0.0,3.0,1
2663,73,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.70,1.0,63,1.0,0.88,1.0,72,0.0,4.0,1
2664,75,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.02,1.0,147,1.0,0.80,1.0,183,0.0,4.0,1
2665,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.02,1.0,100,1.0,0.83,1.0,121,0.0,4.0,1

In [11]:
X = df.iloc[:,:-1]
Y = df[['classes']]

In [13]:
# Compute Information Gain
info_gain = mutual_info_classif(X, Y)

d:\iNeuronPyTasks\InternShipProject\ThyroidDiseaseDetection\thyroidenv\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
# Display Information Gain for each feature
feature_info_gain = pd.Series(info_gain, index=X.columns)
print("Information Gain for each feature:\n", feature_info_gain)

Information Gain for each feature:
 age                          0.009447
sex                          0.005905
on_thyroxine                 0.011912
query_on_thyroxine           0.000000
on_antithyroid_medication    0.002646
sick                         0.000000
pregnant                     0.000000
thyroid_surgery              0.001517
I131_treatment               0.000000
query_hypothyroid            0.000900
query_hyperthyroid           0.000000
lithium                      0.006667
goitre                       0.015295
tumor                        0.000000
hypopituitary                0.000000
psych                        0.001174
TSH_measured                 0.013008
TSH                          0.249171
T3_measured                  0.004848
T3                           0.027098
TT4_measured                 0.005734
TT4                          0.091506
T4U_measured                 0.000000
T4U                          0.001402
FTI_measured                 0.004824
FTI                          0.095105
TBG_measured                 0.000000
referral_source              0.017690
dtype: float64

In [22]:
k = 10  # Number of top features to select
selector = SelectKBest(mutual_info_classif, k=k)
X_selected = selector.fit_transform(X, Y)

d:\iNeuronPyTasks\InternShipProject\ThyroidDiseaseDetection\thyroidenv\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [23]:
# Get the selected feature names
selected_features = X.columns[selector.get_support()]
print(f"\nTop {k} features selected by Information Gain: {list(selected_features)}")

Top 10 features selected by Information Gain: ['age', 'on_thyroxine', 'goitre', 'TSH_measured', 'TSH', 'T3', 'TT4_measured', 'TT4', 'FTI', 'referral_source']